@model Data_Layer.View_Models.AccountTransactionVM

@{
    ViewData["Title"] = "Loan Installment";
}

<h1>Account</h1>
<h4>Loan Payment Installment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Installment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.ID" />
            <div class="form-group">
                <label asp-for="Account.AccountTypeID" class="control-label"></label>
                <input type="text" value="@ViewData["AccountType"]" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="Account.AccountBalance" class="control-label"></label>
                <input asp-for="Account.AccountBalance" class="form-control" readonly="readonly" />
                <span asp-validation-for="Account.AccountBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (ViewData.ContainsKey("ErrorMessage"))
                {
                <span class="text-danger">@ViewData["ErrorMessage"]</span>
                }
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
